body {
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 800px;
    height: 53cm;
    background: #9DA4AD;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.header img {
    width: 740px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
}

 h1, p {
    text-align: center;
   
}

.card {
    width: 730px;
    height: 580px;
    background-color: #8C0303;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 4px 11px rgb(34, 32, 32);
}

.card p {
    margin-top: -10px;
}

.content {
    width: 200px;
    height: 400px;
    background-color: white;
    display: inline-block;
    margin-left: 25px;
    border-radius: 5px;
    padding: 5px;
}

.content img {
    width: 200px;
    height: 250px;
}

.content h1 {
    font-size: 25px;
    margin-top: 5px;
}

.content p {
    margin-top: 10px;
}

#plus {
    height: 30px;
    width: 20px;
    margin-left: 55px;
    color: white;
    background-color: #8C0303;
    border: none;
    border-radius: 2px;
}

.text {
    height: 28px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: lightgray;
}

#minus {
        height: 30px;
        width: 20px;
        color: white;
        background-color: #8C0303;
        border: none;
        border-radius: 2px;
}

.dados-pessoais {
    width: 730px;
    height: 250px;
    background-color: #8C0303;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 9px 11px rgb(128, 125, 125);
}

.dados-pessoais input {
    width: 500px;
    height: 25px;
    margin-bottom: 15px;
    border: white;
    border-radius: 5px;
    margin-left: 110px;
    padding: 5px;
}

.enviar {
    font-weight: bolder;
    width: 740px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #1D700D;
    border: none;
    border-radius: 5px;
}

.pedido p {
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}